.App {
  text-align: center;
  /* display: flex; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: gray;
}

a {
  color: gray
}

a:hover {
  color: darkgray
}

/* .bg {
  background-image: url('../src/assets/fernando-andrade-noodle-block.jpg');
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.home-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-image {
  height: 600px;
  width: 1000px;
  object-fit: cover;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 800;
}

.btn {
  margin: 10px;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.hover:hover .overlay{
  opacity: 1;
}

.overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.text-card {
  height: 500px;
}

.overlay {
  font-weight: bold;
}

/* .image_grid{
  --gap: 16px;
  --num-cols: 3;
  --row-height: 400px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: 200px 0px;
}

.item_image{
  width: 450px;
  height: 300px;
  padding: 10px;
  border: double;
  padding: 1px;
  border-color: rgb(79, 18, 0);
  border-width: 5px;
} */

/* For rating stars */
